#d3,

#emojis,

#contenedor2,

#contenedor {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#contenedor2 {
  z-index: 5;
}

#emojis {
  z-index: 10;
}

#d3 {
  z-index: 15;
}

.angry{
  filter: hue-rotate(0deg);
}

.happy{
  filter: hue-rotate(0deg);
}

.sad{
  filter: hue-rotate(180deg);
}

.calm{
  filter: hue-rotate(90deg);
}

#d3_inner,#d3_outer,#d3_inner2,#d3_outer2{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

audio{
	display: none;
}